<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Stranger Text">
  <meta property="og:site_name" content="Stranger Text - my.funandcool.website">
  <meta property="og:url" content="http://my.funandcool.website">
  <meta property="og:description" content="If you want to make some textual things stranger...">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://my.funandcool.website/img/st.png">
  <title>Stranger Text - my.funandcool.website</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/modernizr-custom.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
<object>
  <svg version="1.1" id="theNotoriousSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-container blurry_animate" width="100" height="100">
    <filter id="blurMe" x="0" y="0">
       <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
    </filter>
    <rect filter="url(#blurMe)" class="svg-line top-line" style="" x="20%" y="10%" height="8" width="500" />
    <rect filter="url(#blurMe)" class="svg-line left-line" style="" x="20%" y="50%" height="8" width="100" />
    <rect filter="url(#blurMe)" class="svg-line right-line" style="" x="60%" y="50%" height="8" width="100" />
  </svg>
</object>
  <div class="words-container">
    <div class="blurry blurry_animate" id="firstDiv">
        <span class="first">s</span>
        <span class="middle">trange</span>
        <span class="last">r</span>
    </div>
    <div class="blurry blurry_animate squeeze" id="secondDiv">
        <span class="between">things</span>
    </div>
    <div class="controls">
      <% if @top && @bottom %>
        <input id="first" type="text" maxlength="8" value="<%= @top.upcase %>">
        <input id="second" type="text" maxlength="8" value="<%= @bottom.upcase %>">
        <a><button id="blurbutton">Re-Animate</button></a>
        <a id="downloadlink" download>
          <button id="downloadbutton">
            Download
          </button>
        </a>
      <% else %>
        <input id="first" type="text" maxlength="8" value="STRANGER">
        <input id="second" type="text" maxlength="8" value="THINGS">
        <a><button id="blurbutton">Re-Animate</button></a>
        <a id="downloadlink" download>
          <button id="downloadbutton">
            Download
          </button>
        </a>
      <% end %>
    </div>
  </div>
  <div class="modal">
    <div class="modal-text">Right-click image to save!</div>
    <img src="">
  </div>
</body>
</html>
