@font-face {
  font-family: ben;
  src: url(../ben.ttf);
}

body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color:  #000;
  overflow: hidden;
}
object {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  padding-top: 100%;
}
.svg-container{
  width:  100vw;
  height:  100vh;
  position:  absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline;
  transition: filter 400ms, opacity: 400ms;
}

.svg-line {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
  stroke: #f00;
  stroke-width: 0.5vw;
}

/* for safari since vw can't be used as stroke-width */

.no-adownload .svg-line {
  stroke-width: 4px;
}

@media only screen and (max-width: 550px) {
  .no-adownload .svg-line {
    stroke-width: 2px;
  }
}

.words-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: filter 400ms, opacity: 400ms;
}

.blurry {
  position: relative;
  margin:  0 auto;
  padding: 0 0.8vw;
  font-family: ben;
  letter-spacing: -0.6vw;
  text-transform: uppercase;
  font-size: 10vw;
  color:rgba(0,0,0,0.88);
  -webkit-text-stroke: 0.5vw transparent;
  text-align: center;
  text-shadow: 1px 1px 2vw red;

  background-image: linear-gradient(60deg,  #f54c42 0%, #FF9791 5% , #f00 18%,  #e55555 50%, #f00 55%, #fe7982 65%, #ff0d00 95%, #f54c42 100%);
  background-size: 25% 25%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-filter: blur(1px) saturate(1.2);
  filter: blur(1px) saturate(1.2);
}

.blurry_animate {
    animation: blur_resolve 5s;
}

.first, .last {
  font-size: 13vw;
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}

.middle.lonely {
  margin-left: 2.5vw;
}

.first {
  position: relative;
  margin-right: -3.5vw;
}
.last {
  position: relative;
  margin-left: -3.5vw;
}

#secondDiv {
  margin-top: -5vw;
}

#secondDiv.squeeze {
  margin-top: -7.7vw;
}

.controls {
  position: fixed;
  display: flex;
  flex-flow:  row nowrap;
  width: 100vw;
  min-width: 100vw;
  height: 80px;
  max-height: 80px;
  bottom: 0;
  left: 0;
  transition: bottom 400ms;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255,0,0,0.2);
}

.controls > * {
  box-sizing: border-box;
  flex: 1 1 183.3px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.controls > a {
  padding: 5px 10px;
}
button {
  width:  100%;
  height: 100%;
  background-color: black;
  border-radius: 20px;
  color: rgba(255,40,0,0.9);
  font-family: ben;
  font-size: 4vw;
  cursor: pointer;
}

input {
  background-color: black;
  color: rgba(255,40,0,0.9);
  font-family: ben;
  font-size: 4.2vw;
}

.moveup .blurry, .moveup .svg-container {
  filter: saturate(0.5);
  opacity: 0.5;
}

.moveup .controls {
  bottom: 60vh;
}

@media only screen and (min-width: 460px) {
  button, input {
    font-size: 1.7vw;
  }
}

@media only screen and (min-width: 880px) {
  button {
    font-size: 1.4vw;
  }
}


@media only screen and (max-width: 460px) {
  .controls > * {
    flex-basis: 49%;
  }
  .controls {
    height: 160px;
    max-height: 160px;
    flex-wrap: wrap;
  }
  .moveup .controls {
    bottom: 0;
  }
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flash-line{
  animation: flash-line 0.9s;
}

.enter-left-slow{
   animation: enter-left 5s;
}

.enter-right-slow{
   animation: enter-right 5s;
}

.enter-left{
  animation: enter-left 3s;
}

.enter-right{
  animation: enter-right 3s;
}

.enter-top{
  animation: enter-top 3s;
}

.enter-bottom{
  animation: enter-bottom 3s;
}

.show .modal {
  top: 15vh;
}
.show .svg, .show .words-container {
  -webkit-filter:  saturate(0.5) opacity(0.5);
}
.modal {
  width:  80vw;
  height: 40vw;
  position: absolute;
  margin: 0 10vw;
  top: -100vh;
  left: 0vw;
  font-family: ben;
  color: red;
  box-shadow: 0px 0px 10px #eee;
  border-radius: 4px;
  background-color: #000;
  transition: top 800ms;
}

.modal-text {
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 2vw;
}

.modal img {
  width: 60vw;
  margin: 0 10vw;
  height: auto;
  max-height: 100%;
}

#socialIcons {
  width: auto;
  height: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 69;
}

.socialIcon {
  width: 32px;
  height: 32px;
  margin: 0px 4px;
}

@keyframes blur_resolve{
  0% {
    -webkit-filter: blur(5px) saturate(1.2);
    filter: blur(5px) saturate(1.2);
  }

  97% {
    -webkit-filter: blur(5px) saturate(2);
    filter: blur(5px) saturate(2);
    text-shadow: 1px 1px 7vw red;
  }

  100%{
    -webkit-filter: blur(1px) saturate(1.2);
    filter: blur(1px) saturate(1.2);
    text-shadow: 1px 1px 2vw red;
  }
}

@media only screen and (max-width: 550px) {
  @keyframes blur_resolve{
    0% {
      -webkit-filter: blur(3px) saturate(1.2);
      filter: blur(3px) saturate(1.2);
    }

    97% {
      -webkit-filter: blur(4px) saturate(2);
      filter: blur(4px) saturate(2);
      text-shadow: 1px 1px 5vw red;
    }

    100%{
      -webkit-filter: blur(0px) saturate(1.2);
      filter: blur(0px) saturate(1.2);
      text-shadow: 1px 1px 2vw red;
    }
  }

  .blurry {
    -webkit-filter: blur(0px) saturate(1.2);
    filter: blur(0px) saturate(1.2);
  }
  .svg-line {
    filter: none;
  }
}

@keyframes flash-line{
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes enter-top{
  0% {
   top: -800px;
  }

  100%{
    top: 0px;
  }
}

@keyframes enter-bottom{
  0% {
   bottom: -800px;
  }

  100%{
    bottom: 0px;
  }
}

@keyframes enter-left{
  0% {
   left: -800px;
  }

  100%{
    left: 0px;
  }
}

@keyframes enter-right{
  0% {
    right: -800px;
  }

  100%{
    right: 0px;
  }
}
