@font-face {
  font-family: ben;
  src: url(../ben.ttf);
}
body {
  background-color:  #000;
}

.svg-container{
  width:  100vw;
  height:  100vh;
  position:  fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline;
}

.svg-line{
  filter: url("#blurMe");
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
  stroke: #f00;
  stroke-width: 4;
}

.words-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.blurry {
  position: relative;
  margin:  0 auto;
  padding: 0 8px;
  font-family: ben;
  letter-spacing: -8px;
  text-transform: uppercase;
  font-size: 100px;
  color:rgba(0,0,0,0.88);
  -webkit-text-stroke: 4px transparent;
  text-align: center;
  text-shadow: 1px 1px 25px red;

  background-image: linear-gradient(60deg,  #f54c42 0%, #e55524 5% , #f00 18%,  #e55555 50%, #f00 55%, #e55524 95%, #f54c42 100%);
  background-size: 100% 50%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-filter: blur(1px) saturate(1.2);
}

.blurry_animate {
    animation: blur_resolve 2s forwards;
}

.first, .last {
  font-size: 1.3em;
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}
.first {
  margin-right: -25px;
}
.last {
  margin-left: -25px;
}

.dash {
  vertical-align: text-top;
  line-height: 1em;
}

#secondDiv {
  margin-top: -50px;
}

#top {
  margin-bottom: -33px;
  letter-spacing: 2px;
}

#secondDiv.squeeze {
  margin-top: -78px;
}
#secondDiv.squeeze .dash {
  vertical-align: middle
}

.controls {
  display: flex;
  flex-flow:  column nowrap;
  margin:  0 auto;
  max-width: 500px;
}

.controls > * {
  margin: 5px;
  max-width: 150px;
}

.hide {
  display: none;
}

@keyframes blur_resolve{
  0% {
    -webkit-filter: blur(100px) saturate(1.2);
  }

  100%{
    -webkit-filter: blur(1px) saturate(1.2);
  }
}
